.MenuListItem-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.MenuListItem-main-container{
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 79% 20%;
  grid-column-gap: 1%;
  width: 90%;
  height: 80%;
  box-shadow: 0px 0px 3px #656565;
}
.MenuListItem-info-container{
  display: grid;
  grid-template-rows: 1 1;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}
.MenuListItem-menu-name-container{
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  
}
.MenuListItem-addresse-container{
  display: flex;
  align-items: center;
}
.MenuListItem-reservation-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.MenuListItem-btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.MenuListItem-btn-container .add-btn{
  background-color: #C3C8D4;
  font-weight: 600;
  color: aliceblue;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 0px 3px #656565;
  cursor: pointer;
  width: 50%;
  height: 40%;
  font-size: 1.0rem;
  margin-left: 5px;
  margin-right: 5px;
}
.MenuListItem-btn-container .add-btn:active{
  opacity: .3;
}
.MenuListItem-btn-container .add-btn:disabled{
  background: #ddd;
  color: #bbb;
  border: 1px solid #ddd;
  cursor: default;
}